
@tailwind base;
@tailwind components;
@tailwind utilities;
.family-thin{
    font-family: 'tommyThin';
}
.family-light{
    font-family: 'tommyLight';
}
.family-normal{
    font-family: 'tommy';
}
.family-medium{
    font-family: 'tommyMedium';
}
.family-bold{
    font-family: 'tommyBold';
}
.family-extrabold{
    font-family: 'tommyXBold';
}
.family-black{
    font-family: 'tommyBlack';
}
@layer base {
    a, button {
        @apply !outline-none;
    }
}

@layer components {
    .smooth {
        @apply ease-out duration-100
    }
    .btn-solid {
        @apply smooth !outline-none h-[58px] w-auto px-10 flex items-center justify-center bg-zero text-white border border-zero text-xl family-bold rounded-full pb-1 hover:text-mango active:text-zero active:bg-white active:border-mango;
    }
    .btn-outline {
        @apply smooth !outline-none h-[58px] w-auto px-10 flex items-center justify-center bg-transparent text-zero border border-mango text-xl family-bold rounded-full pb-1 hover:text-mango active:bg-zero active:text-white active:border-zero;
    }
    .btn-light {
        @apply smooth !outline-none h-[58px] w-auto px-10 flex items-center justify-center bg-transparent text-zero border border-mango text-xl family-normal rounded-full pb-1 hover:text-mango active:bg-mango active:text-zero active:border-mango;
    }
    .dropMenu
    {
        @apply bg-white rounded-xl py-3 min-w-[205px] inline-flex flex-col items-start shadow-[0_1px_4px_0_rgba(0,0,0,0.1)]
    }
    .dropMenu li
    {
        @apply relative leading-tight flex items-center justify-between w-full
    }
    .dropMenu li a{
        @apply text-black text-base family-normal capitalize hover:text-zero w-full py-2 flex items-center justify-between pl-[30px] pr-5 relative after:h-full after:w-4 bg-transparent after:absolute after:left-full
    }
    .dropMenu li a:hover{
        @apply family-medium
    }
    .subMenu
    {
        @apply bg-white rounded-xl py-3 min-w-[205px] inline-flex flex-col items-start gap-3 shadow-[0_1px_4px_0_rgba(0,0,0,0.1)] absolute left-[calc(100%+12px)] top-2 invisible opacity-0 smooth
    }
    .subMenu a{
        @apply text-black text-base family-normal capitalize hover:text-zero pl-[30px] pr-5
    }
    .dropMenu li:hover .subMenu
    {
        @apply visible opacity-100 -top-1
    }

    /* .bg {
        background-image: url(../images/afterSigninBg.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    } */

    /* .pill {
        @apply relative cursor-pointer py-3 px-3 lg:text-[13px] text-xs font-semi text-white bg-[#1E2646] rounded-t-lg bg-gradient-to-b from-[#1E2646] to-[#1E2646] lg:min-w-[170px] min-w-0 text-center sm:col-span-4 col-span-6;
    }

    .pill-active {
        @apply from-[#0b8140] to-[#0a5229];
    } */

}

@layer utilities {
    .ease-out-back {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .rotate-x-90 {
        transform: rotateX('90deg');
    }

    .rotate-x-0 {
        transform: rotateX('0deg');
    }

    /* Scroll Bar */
    .x-scroll::-webkit-scrollbar {
        @apply h-[7px] bg-transparent;
    }

    .x-scroll::-webkit-scrollbar-thumb {
        @apply bg-gradient-to-b from-[#0b8140] to-[#0a5229] rounded-[50px];
    }

    .x-scroll::-webkit-scrollbar-track {
        @apply bg-transparent
    }

    .y-scroll::-webkit-scrollbar {
        @apply w-[7px] bg-transparent;
    }

    .y-scroll::-webkit-scrollbar-thumb {
        @apply bg-gradient-to-r from-[#0b8140] to-[#0a5229] rounded-[50px];
    }

    .y-scroll::-webkit-scrollbar-track {
        @apply bg-transparent
    }
}